.container {
  width: 710px;
}

body {
  background: #E7E6F5;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}
/* PhilOrin.com CSS */

a {
	font-family: "Verdana", "Arial", "Times New Roman";
	text-decoration: none;
	color: black;
	font-size: 10pt;
}
a.contentText {
	font-size: 9pt;
        font-family: "Verdana", "Arial", "Times New Roman";
	text-decoration: none;
	color: black;
}
a.titleLink {
	font-size: 12pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink {
	font-size: 9pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink:hover {
	text-decoration: underline;
}
a.titleText {
	width: 100%;
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
	color: #123B5E;
}
a.header1Text {
	font-size: 20pt;
	font-weight: bold;
	color: #123B5E;
}
a.header2Text {
	font-size: 15pt;
	font-weight: bold;
	color: #123B5E;
}
a.header3Text {
	font-size: 10pt;
	font-weight: bold;
	color: #123B5E;
}
a.footerText {
	font-size: 8pt;
	font-weight: bold;
}
a.positionText {
	font-size: 10pt;
	font-weight: bold;
	color: #180000;
}
.thinBorder {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.clickable {
	cursor: pointer;
}
body, table, tr, td, div {
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
	vertical-align: text-top;
}
table {
	border-collapse: collapse;
	border: 0px;
}
td.menuRoot {
	width: 1px;
	padding: 0px 20px 0px 20px;
	border-width: 0px 1px 0px 0px;
	border-color: #48545E;
}
a.menuText {
	font-size: 10pt;
	font-weight: bold;
	color: white;
	position: relative;
	top: 2px;
}
tr.frontDoorPoint {
	background-color: white;
	border-width: 0px 0px 1px 0px;
}
div.paragraph {
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	vertical-align: text-top;
}