.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
/*BODY*/

body, td {
   background-color: black;
   }

/* Logo Header */

#logo-header img {

    height: 40px;
    padding: 5px;
    background: white;
}

/* Top Menu Navigation */

#nav-menu {

    background-color: white;
    padding: 5px;
    white-space: nowrap;
    margin: 0;
    list-style-type: none;
    display: inline;
    font-weight: bold;
}

#nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-menu li {
    float: right;
    /* margin: 0 0.15em; */
}

#nav-menu li a
{
background: url(background.gif) #fff bottom left repeat-x;
height: 2em;
line-height: 2em;
float: right;
width: 9em;
display: block;
border: none;
color: #0d2474;
text-decoration: none;
text-align: center;
}


#content {
  float: none;
  margin-top: 4em;
  font-size: 100%;
  padding: 20px;
  background: #fff;
  border-style: none;
}
/* FOOTER */

#footer-menu .navigation {
  float: none;
  background: #fff;
}

#footer-menu {
  text-align: center;
  /*width: 700px;*/
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.thinBorder {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: black;
        background-color: white;
}

#footer-menu ul {
    list-style: none;
}

#footer-menu li {
    /*margin: 0 0.15em;*/
}

#footer-menu li a {
    font-size: 8pt;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
}

.footerText {
    font-size: 8pt;
    font-weight: bold;
}
/* a TAGS*/

a {
	font-family: "Verdana", "Arial", "Times New Roman";
	text-decoration: none;
	color: black;
	font-size: 10pt;
}
a.contentText {
	font-size: 9pt;
        font-family: "Verdana", "Arial", "Times New Roman";
	text-decoration: none;
	color: black;
}
a.titleLink {
	font-size: 12pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink {
	font-size: 9pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink:hover {
	text-decoration: underline;
}
a.titleText {
	width: 100%;
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
	color: #123B5E;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

a.menuText {
	font-size: 10pt;
	font-weight: bold;
	color: white;
	position: relative;
	top: 2px;
}

/*TABLE*/



td.menuRoot {
	width: 1px;
	padding: 0px 20px 0px 20px;
	border-width: 0px 1px 0px 0px;
	border-color: #48545E;
}

tr.frontDoorPoint {
	background-color: white;
	border-width: 0px 0px 1px 0px;
}

a.contentText {
	font-size: 9pt;

}
a.titleLink {
	font-size: 12pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
        padding-left: 0;
}
a.contentLink {
	font-size: 9pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink:hover {
	text-decoration: underline;
}
a.titleText {
	width: 100%;
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
	color: #123B5E;
}
a.header1Text {
	font-size: 20pt;
	font-weight: bold;
	color: #123B5E;
}
a.header2Text {
	font-size: 15pt;
	font-weight: bold;
	color: #123B5E;
}
a.header3Text {
	font-size: 10pt;
	font-weight: bold;
	color: #123B5E;
        white-space: nowrap;
}
a.footerText {
	font-size: 8pt;
	font-weight: bold;
}
a.positionText {
	font-size: 10pt;
	font-weight: bold;
	color: #180000;

}
.thinBorder {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: black;
        background-color: white;
        width: 700px;
        min-width: 700px;
        max-width: 700px;
        padding: 25px 25px 25px 25px;
}

.noBorder {
        background-color: white;
        width: 100%;

  }
.clickable {
	cursor: pointer;
}

td.menuRoot {
	width: 1px;
	padding: 0px 20px 0px 20px;
	border-width: 0px 1px 0px 0px;
	border-color: #48545E;
}
