/* PhilOrin.com CSS */

a {
	font-family: "Verdana", "Arial", "Times New Roman";
	text-decoration: none;
	color: black;
	font-size: 10pt;
}
a.contentText {
	font-size: 9pt;
}
a.titleLink {
	font-size: 12pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink {
	font-size: 9pt;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
a.contentLink:hover {
	text-decoration: underline;
}
a.titleText {
	width: 100%;
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
	color: #123B5E;
}
a.header1Text {
	font-size: 20pt;
	font-weight: bold;
	color: #123B5E;
}
a.header2Text {
	font-size: 15pt;
	font-weight: bold;
	color: #123B5E;
}
a.header3Text {
	font-size: 10pt;
	font-weight: bold;
	color: #123B5E;
}
a.footerText {
	font-size: 8pt;
	font-weight: bold;
}
a.positionText {
	font-size: 10pt;
	font-weight: bold;
	color: #180000;
}
.thinBorder {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.clickable {
	cursor: pointer;
}
body, table, tr, td, div {
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
	vertical-align: text-top;
}
table {
	border-collapse: collapse;
	border: 0px;
}
td.menuRoot {
	width: 1px;
	padding: 0px 20px 0px 20px;
	border-width: 0px 1px 0px 0px;
	border-color: #48545E;
}
a.menuText {
	font-size: 10pt;
	font-weight: bold;
	color: white;
	position: relative;
	top: 2px;
}
tr.frontDoorPoint {
	background-color: white;
	border-width: 0px 0px 1px 0px;
}
div.paragraph {
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	vertical-align: text-top;
}