
<table width="100%">
	<tr>
        	<td align="left">
                  <a class="positionText">Linkedin: 
                  </a>
                  <script type="text/javascript" src="http://www.linkedin.com/js/public-profile/widget-os.js">
                  </script>
                  <a class="linkedin-profileinsider-popup" href="http://www.linkedin.com/in/philorin">Phil Orin
                  </a>
                </td>
                <td align="right">
                  foo
                </td>
	</tr>
</table>