<table style="height: 100%; width: 100%;">
 
  <tr class="underConstruction">
    <td></td>
      <td>
        <!-- <% logo = image_tag("beach.jpg") %>
        <%= link_to logo, root_path %> -->
        <a class="underConstruction" "href="/"  style="text-align: center"><img alt="Beach" src="/images/beach.jpg"></img></a>
      </td>
    <td></td>
  </tr>
</table>