<table style="height: 100%; width: 100%;">
 
  <tr class="underConstruction">
    <td></td>
      <td>
        <!-- <% logo = image_tag("beach.jpg") %>
        <%= link_to logo, root_path %> -->
        <a class="underConstruction" href="/"  style="text-align: center; border: none;">
          <img alt="Beach" src="/images/beach.jpg" style="border: none; border-radius:25px;">
          </img>
        </a>
      </td>
    <td></td>
  </tr>
</table>