<table style="height: 100%; width: 100%;">
  <tr class="underConstruction">
    <td>
      <br/>
      <br/>
      <br/>
    </td>
      <td>
        <a style="text-align: center" class="underConstruction">Under Construction</a>
      </td>
    <td></td>
  </tr>
  <tr class="underConstruction">
    <td></td>
      <td>
        <!-- <% logo = image_tag("waterfall.jpg") %>
        <%= link_to logo, root_path %> -->
        <a class="underConstruction" "href="/"  style="text-align: center"><img alt="Waterfall" src="/images/waterfall.jpg"></img></a>
      </td>
    <td></td>
  </tr>
</table>