<table style="height: 100%; width: 100%;">
        <tr>
            <td></td>
            <td class="resumeSection">

		<a id="summary">
			An experienced executive, with demonstrated success in increasing production uptime and system availability without compromising time
			to market.  Acknowledged as an effective leader and mentor able to motivate and develop staff to be productive and
			efficient-competitive, optimistic and principled, managing resources in the US and into India.
		</a>
            </td>
            <td></td>
        </tr>
        <!-- BULLETED LIST OF SKILLS-->
        <tr>
            <td></td>
            <td class="resumeSection" style="text-align: left; border-bottom: none; margin-bottom: 0; padding-bottom: 0;">
            <br/>

            <a class="contentText">
		Wide background and leadership experience in many areas of information technology including;
            </a>
            </td>
            <td></td>
        </tr>
<tr>
    <td></td>
            <td class="resumeSection" >
            <table style="width: 100%; height: 100%; background-color: white;">
                <tr style="background-color: white;">
                    <td class="noBorder" style="height: 100%; width: 50%">
			<ul class="skillList">
				<li>Production Support</li>
				<li>Systems Analysis</li>
				<li>IT Operations</li>
				<li>SARBOX Audit Management</li>
				<li>IT Project Management</li>
				<li>Contract Negotiation</li>
				<li>Linux &amp; Windows</li>
			</ul>
                    </td>
                    <td class="noBorder" style="height: 100%; width: 50%">
			<ul class="skillList">
                                <li>Software Development Life Cycle (SDLC)</li>
                                <li>Ruby On Rails</li>
                                <li>Enterprise Change Management</li>
				<li>Release Management / Version Control</li>
				<li>Oracle / SQL Server / MySQL</li>
				<li>Billing Development &amp; Operations</li>
                                <li>PCI Compliance</li>
			</ul>
                    </td>
                    
                </tr>
            </table>
            </td>
</tr>
<tr>
    <td></td>
            <td class="resumeSection" style="text-align: center; padding-bottom: 25px; padding-top: 25px;">
            <a class="header2Text">
		EXPERIENCE
            </a>
            </td>
            <td></td>
        </tr>

    <!-- SoCal IP-->
    <tr>
        <td></td>
        <td class="resumeSection"  style="text-align: left">
            <table style="background-color: white; width: 100%">
                <tr>
                    <td class="companyLink"><a class="companyLink" href="http://www.socalip.com/professionals.html">SoCal IP LLP</a></td>
                    <td class="timeWorked"><a> 2010 &ndash; Current</a></td>
                </tr>
            </table>

            <a class="contentText">
                SoCal IP Law Group handles intellectual property matters for high technology and high growth companies.
                This work involves patents, trademarks, copyrights, trade secrets, licenses and IP-related business transactions.
            </a><br/><br/>


            <a class="positionText" href="http://www.socalip.com/orin.html">CTO in Residence</a>

                <ul class="contentText">
                    <li>Software Development PHP - Ruby On Rails - HTML - CSS</li>
                    <li>Technical Consultation</li>
                    <li>Database Development SQL Server - MySQL</li>
                    <li>Apache - IIS - Process Maker</li>
                </ul>
        </td>
        <td></td>
    </tr>
    <!-- DEEPBLUE LABS-->
 <tr>
     <td></td>
        <td class="resumeSection" style="text-align: left">
          <table style="background-color: white; width: 100%">
                <tr>
                    <td class="companyLink"><a class="companyLink" href="http://www.deepbluelabs.com">DeepBlue Laboratories LLC</a></td>
                    <td class="timeWorked"><a> 2010 &ndash; Current</a></td>
                </tr>
            </table>

            <a class="contentText">
                DeepBlue Labs provides solutions for Payment Card Industry (PCI) and Sarbanes-Oxley (SOX) standards compliance, as well as consulting
                services for software and database design, development and deployment.
            </a><br/><br/>


            <a class="positionText">IT Consultant &amp; Analyst</a><br/>

               <ul class="contentText">
                    <li>Founded	the Company in July 2003.</li>
                    <li>Began consulting services in May, 2010 specializing in:</li>
                    <li>Operational process and procedure measurement, adjustment and improvement.</li>
                    <li>Compliance for Payment Card Industry (PCI) and Sarbanes-Oxley (SOX) standards.</li>
                    <li>Billable revenue improvement through better tools, operations and process.</li>
                    <li>IT Project and Product management.</li>
                    <li>Software	and Database development design, implementation and management.</li>
                </ul>
        </td>
        <td></td>
 </tr>

    <!-- DEMAND MEDIA-->

 <tr>
     <td></td>
        <td class="resumeSection" style="text-align: left">
          <table style="background-color: white; width: 100%">
               <tr>
                  <td class="companyLink"><a class="companyLink" href="http://www.demandmedia.com">Demand Media Inc.</a></td>
                  <td class="timeWorked"><a> 2009 &ndash; 2010</a></td>
                </tr>
            </table>

            <a class="contentText">
		Demand Media is the leader in distributed social media with properties including </a>
            <a class="contentLink" href="http://www.ehow.com/">eHow</a>,
            <a class="contentLink" href="http://www.livestrong.com/">Livestrong</a>,
            <a class="contentLink" href="http://www.cracked.com/">Cracked</a>,
            <a class="contentLink" href="http://www.enom.com/">eNom</a> &amp;
            <a class="contentLink" href="http://www.pluck.com/">Pluck</a>.
<br/><br/>

            <a class="positionText">Vice President, IT Operations</a>
<br/><br/>
            <a class="contentText">
                Brought in key staff and put in place structure allowing the operation of the business to run at a higher rate of availability and allow for more
                rapid change.  Evaluated the environment and needs of the company, resulting in restructured processes and procedures, which in turn
                brought cost down and availability of services up.
            </a>
                <ul class="contentText">
                    <li>Increased stability in several properties recovering lost revenue of more than $1,000,000 annually.</li>
                    <li>Renegotiated several operational contracts, saving more than $200,000 annually.</li>
                    <li>Creation of Enterprise Change Management process, procedures, policies and tools.  This will allow Demand Media to pass SarBox external audits with respect to enterprise change management.</li>
                    <li>Restructured billing services to enable PCI compliance.</li>
                </ul>

        </td>
        <td></td>
 </tr>
    <!--UNITED ONLINE-->

 <tr>
     <td></td>
        <td class="resumeSection" style="text-align: left">
          <table style="background-color: white; width: 100%">
                <tr>
                    <td class="companyLink"><a class="companyLink" href="http://www.unitedonline.com">United Online, Inc.</a></td>
                    <td class="timeWorked"><a> 2000 &ndash; 2009</a></td>
                </tr>
            </table>
            
            <a class="contentText">A leading provider of consumer Internet subscription services through brands including</a>
            <a class="contentLink" href="http://www.netzero.net/">NetZero</a>,
            <a class="contentLink" href="http://www.juno.com/">Juno</a>,
            <a class="contentLink" href="http://www.MyPoints.com/">MyPoints</a>,
            <a class="contentLink" href="http://www.ftd.com/">FTD</a>
            <a class="contentText"> &amp; </a>
            <a class="contentLink" href="http://www.classmates.com/">Classmates</a>.
            <br/><br/>
            <table style="background-color: white; width: 100%">
                <tr>
                    <td class="positionText"><a class="positionText">Vice President, Enterprise Operations</a></td>
                    <td class="timeWorked"><a> 2006 &ndash; 2009</a></td>
                </tr>
            </table>
            <br/>

            <a class="contentText">Created, rebuilt and lead more than a dozen teams.  Reduced their operating budgets by as much as 70% while keeping key staff in place and
                engaged.  Created, administrated and maintained the Change Management Tool and processes where none existed before, enabling control of QA, Staging
                and Production changes.  As the chairman of the SDLC board and CPB (Change Policy Board) United Online has been able to comply with all Change Management
                and Segregation of Duties areas of SarBox, along with compliance for Billing system financial compliance and PCI standards acceptance.
            </a>

            <ul class="contentText">
                <li>Rebuilt Billing Operations, reducing operating expenses by 70% while creating automated monitoring and audit tools, increasing
                    availability of the system by 10% while decreasing audit time by 50%.</li>
                <li>Renegotiated Billing contract reducing the cost by $100,000 or 25% year over year.</li>
                <li>Creation of Change Management process, procedures, policies and tools.  This allowed United Online to pass 100% of SarBox external audits.</li>
            </ul>

            <table style="background-color: white; width: 100%">
                <tr>
                    <td class="positionText"><a class="positionText">Senior Director, Applications Operations</a></td>
                    <td class="timeWorked"><a> 2002 &ndash; 2006</a></td>
                </tr>
            </table>

            <a class="contentText">Responsibilities included the management of the Software Configuration Management and Software Administration teams.</a>

            <ul class="contentText">
                <li>Supported all test, staging and production environments and their code deployments</li>
                <li>Chairman of the SDLC board</li>
                <li>Administration and ownership of the Change Management System and Change Control Board</li>
            </ul>


            <table style="background-color: white; width: 100%">
                <tr>
                    <td class="positionText"><a class="positionText">Senior Project Manager</a></td>
                    <td class="timeWorked"><a> 2000 &ndash; 2002</a></td>
                </tr>
            </table>


            <a class="contentText">Successfully managed and released numerous projects.  This includes the following:</a>

            <ul class="contentText">
                <li>First Project Manager for United Online, designed and implemented many of the practices and procedures used to guide projects through to production.</li>
                <li>Senior Project manager for the NetZero Platinum project, the company&rsquo;s first pay for product</li>
            </ul>
        </td>
        <td></td>
 </tr>

    <!--eLabor.com-->

 <tr>
     <td></td>
        <td class="resumeSection" style="text-align: left">

            <table style="background-color: white; width: 100%">
                <tr>
                    <td class="companyLink"><a class="companyLink" href="http://www.elabor.com">eLabor.com</a></td>
                    <td class="timeWorked"><a> 1997 &ndash; 2000</a></td>
                </tr>
            </table>

            <a class="contentText">jeTECH/eLabor.com was the world's leading supplier of enterprise solutions for Labor Resource Planning (LRP).
                Changed name to eLabor.com in 2000 and acquired by ADP, Inc in 2003.
            </a>
            <br/><br/>
            <a class="positionText">Technical Lead</a>
            <br/><br/>
            <a class="contentText">Responsible for all technical aspects of custom projects, including the following:</a>
                <ul class="contentText">
                    <li>Developing programming specifications based on requirements gathered on site</li>
                    <li>Developing custom code, database and stored procedures</li>
                    <li>Technical lead for time and attendance implementations such as The Mayo Clinic and Carrier Air Conditioning</li>
             </ul>
        </td>
        <td></td>
 </tr>
</table>