<table style="height: 100%; width: 100%; border-color: #262B52">
  <tr>
    <td style="max-width: 700px; min-width: 700px;">
      <ul id="menu">
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Personal", personal_path %></li>
        <li><%= link_to "Professional", professional_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </td>
  </tr>
</table>